.app {
  display: grid;
  place-items: center;
  height: 100vh;
}

.app__logo {
  width: 12vh;
  pointer-events: none;
}
.app__top > h1 {
  color: rgb(255, 255, 255);
}
.app__top {
  text-align: center;
}

.app__videos {
  background-color: aliceblue;
  height: 62vh;
  width: 70%;
  position: relative;
  border-radius: 20px;
  max-width: 300px;
  max-height: 1000px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}

.app__videos::-webkit-scrollbar {
  display: none;
}

.app__videos {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
